<div class="field__container field__container_{{params.name}}">
    <label class="field__name field__name_active_{{params.isNameActive}}" id="{{params.name}}__field-error">{{params.placeholder}}</label>
    <input type="{{params.type}}" 
    class="field__input field__input_errored_{{params.isErrored}}" 
    id="{{params.name}}" 
    name="{{params.name}}" 
    onChange={}
    placeholder="{{params.placeholder}}" 
    required 
    minLength={{params.minLength}} 
    maxLength={{params.maxLength}}/>
    <span class="field__error field__error_active_{{params.isErrorActive}}" id="{{params.name}}__field-error">{{params.errortext}}</span>
</div>
