<div class="profile__text-container">
    <span class="profile__row-name">{{params.placeholder}}</span>
    <input type="{{params.type}}" 
        class="profile__input profile__input_errored_{{params.isErrored}}" 
        id="{{params.name}}" 
        name="{{params.name}}" 
        onChange={}
        placeholder="{{params.placeholder}}"
        value={{params.value}}
        required
        {{#if isEditDisabled}}
        disabled
        {{/if}}
         
        minLength={{params.minLength}} 
        maxLength={{params.maxLength}}/>
</div>
